<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<context:annotation-config/>
	
<!-- DB 연결(BasicDataSource). -->
	<bean class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" id="dataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
		<property name="username" value="hr"/>
		<property name="password" value="1111"/>
	</bean>
	
<!-- MyBatis 설정 (SqlSessionFactoryBean): mapper 위치와 dataSource 정의. -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
		<property name="mapperLocations" value="classpath*:mybatis/mapper.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
<!-- DAO -->
	<bean class="dao.UsrDAO"/> 
	<bean class="dao.KiDAO"/>
	<bean class="dao.KireDAO"/> 	
	<bean class="dao.WishDAO"/> 
	<bean class="dao.FriendDAO"/> 
	<bean class="dao.CollectionDAO"/> 
	
	
</beans>
